################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/AGFotografia/bin
/AGFotografia/obj/Debug
/.vs
/AGFotografia/obj/Release
