@font-face {
    font-family: "Angilla Tattoo";
    src: url("../Content/fonts/AngillaTattoo.eot") format("eot"), 
        url("../Content/fonts/AngillaTattoo.woff") format("woff"), 
        url("../Content/fonts/AngillaTattoo.ttf") format("truetype"), 
        url("../Content/fonts/AngillaTattoo.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

/*.bgimg-1 {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/c1.jpg");
    height: 100%;
    -webkit-filter: blur(5px);
    filter: blur(5px);
}*/


.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
}

.caption span.border {
    background-color: rgba(1, 1, 1, .70);
    color: #fff;
    padding: 1px;
    font-size: 2em;
    letter-spacing: 7px;
}

#marca{
    font-family:'Angilla Tattoo';
    font-weight:800;
    text-transform:none;
    font-size:4em;
}