.white .main-navi > div.active div:first-child,
.white .main-navi > div.active, 
.white .main-navi a.active
 .tags-contents a.active,
 .blog-navi a:hover:before,
 .filter > a.active,
 .flex-direction-nav .flex-next:hover,
 .flex-direction-nav .flex-prev:hover,
 .details-close:hover,
 .button-close:hover,
 .blog-info a:before,
 input[type="submit"]:hover,
 .service-details .dots:before,
 .service-details .dots:after,
 .service-details .dots,
 .portfolio.horizontal li:hover a,
 .masonry-wrapper .item span.class,
 .portfolio-image li span.class,
 .right-images li span.class,
 .portfolio.column li span.class,
 .button-down,
 .home-page.flexslider .slides > li:before,
 .main-navi > div:hover .dot,
 .main-navi a:hover .dot,
 .main-navi > div.active div:first-child,
 .main-navi a.active:hover,
 .main-navi a.active{
	background: #7c3bbd;
}
 .masonry-wrapper .item em:before, 
 .right-images li em:before, 
 .portfolio.column li em:before,
.white .soc-icons a:hover,
 .service-details .glyph,
 .blog-mini a:hover,
 .blog-navi a:hover,
 .search .glyph:hover,
 .skill .amount,
 .twitter-block .name,
 .twitter-block .glyph,
 .comments .reply:hover,
 .comments .user-name:hover,
 .var2.soc-icons a:hover,
 .show-more:hover,
 .blog-info .glyph,
 .blog-info a:hover,
 .blog-details a:hover,
 .member-details .soc-icons a:hover,
 .member-block:hover h2,
 .info-block em,
 textarea:focus,
 input[type="text"]:focus,
 input[type="text"].error,
 .soc-icons a:hover,
 em:before{
	color: #7c3bbd;
}

 .main-navi > div.active .corner,
 .main-navi a.active .corner{
	border-left-color: #7c3bbd;
}
 .masonry-wrapper .item em:after,
 .right-images li em:after,
 .portfolio.column li em:after{
	border-right-color: #7c3bbd;
}
 .tags-contents a.active,
 .features-contents a:before,
 .skill .line,
 .filter > a.active,
 .show-more:hover,
 textarea:focus,
 input[type="text"]:focus,
 input[type="text"].error,
 .service .button:hover,
 .masonry-wrapper .item:hover > span,
 .right-images li:hover > span,
 .portfolio.column ul li:hover > span,
 .masonry-wrapper .item.unactive > span,
 .portfolio.column ul li.unactive > span,
 .masonry-wrapper .item > span,
 .right-images li > span,
 .portfolio.column li > span,
 .circle:before{
	border-color: #7c3bbd;
}
 .flex-control-paging li a:hover,
 .flex-control-paging li a.flex-active{
	box-shadow: 0 0 0 9px #7c3bbd inset;
}
.white .flex-control-paging li a:hover, 
.white .flex-control-paging li a.flex-active{
	box-shadow: 0 0 0 5px #7c3bbd inset;
}

.masonry-wrapper .item:hover a,
	.right-images li:hover a,
	.portfolio.column li:hover a{
		box-shadow: inset 0 0 0 4px #7c3bbd;
}

.logo {
	color: #7c3bbd;
}

.logo:hover {
	color: #7c3bbd;
}