
@{
    ViewBag.Title = "Portfolio";
}
<div class="right-content">

    <div class="portfolio-details">
        <div id="lightgallery" class="miniaturas">
            @foreach (AGFotografia.Models.Foto foto in ViewBag.fotos)
            {
               
                var src =String.IsNullOrEmpty(foto.Miniatura) ? foto.SRC : foto.Miniatura;
               
                <a href="@foto.SRC">
                    <img class="images-bg hvr-bounce-in" src="@src " draggable="false"/>
                </a>
            }

        </div>

    </div>

</div>
@section scripts{
    
    <script>
        $(document).ready(function () {

            var $lg = $('#lightgallery');

            $lg.lightGallery();

            // Perform any action just before opening the gallery
            $lg.on('onBeforeClose.lg', function (event) {
                window.history.go(-1);
                return false;
            });

            $('#lightgallery > a:nth-child(1)').click();
        })


    </script>
    
    }