
@{
    ViewBag.Title = "SobreMi";
}

<!--  ABOUT  -->
<div class="right-content" style="opacity: 1;">
    <div class="about main-block">
        <div class="left-content col-lg-9 baron" data-baron-v="inited">
            <div class="scroller" style="width: 1230px;">
                <!--  CONTENT IMAGE  -->
                <img src="~/Content/img/C2.jpg" width="1230" height="500" />
                <!--  //CONTENT IMAGE  -->
                <article class="left-content-text">
                    <h2>Aldana González</h2>
                    <strong>professional photographer</strong>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <p>A popular Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.</p>
                            <p class="mini">A popular Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
                            <p class="mini">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                            <p class="mini">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque.</p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="scroller__track">
                <div class="scroller__bar" style="height: 646px; top: 67.8161px;"></div>
            </div>
        </div>
        <!--  RIGHT IMAGES  -->
        @* Hacer un for heach *@
        <div class="right-images col-lg-3" data-baron-v="inited">
            <div class="scroller" style="width: 410px;">
                <ul>
                    <li style="height: 307px; width: 410px;">
                        <a href=""><img src="../images/portfolio/fashion/1.jpg" alt=""></a>
                        <span><em></em></span>
                        <div>
                            <span class="title">BEAUTIFUL fashion FOTO</span>
                            <span class="class">fashion</span>
                        </div>
                    </li>
                    <li style="height: 307px; width: 410px;">
                        <a href=""><img src="../images/portfolio/girls/1.jpg" alt=""></a>
                        <span><em></em></span>
                        <div>
                            <span class="title">BEAUTIFUL girls FOTO</span>
                            <span class="class">girls</span>
                        </div>
                    </li>
                    <li style="height: 307px; width: 410px;">
                        <a href=""><img src="../images/portfolio/girls/2.jpg" alt=""></a>
                        <span><em></em></span>
                        <div>
                            <span class="title">BEAUTIFUL girls FOTO</span>
                            <span class="class">girls</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="scroller__track">
                <div class="scroller__bar" style="height: 941px; top: 0;"></div>
            </div>
        </div>
        <!--  //RIGHT IMAGES  -->
    </div>
</div>
